@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'SFPro';
  src: url('fonts/SF-Pro-Display-Medium.otf') format('truetype');
  font-weight: normal; 
}
@font-face {
  font-family: 'SFProBold';
  src: url('fonts/SF-Pro-Display-Bold.otf') format('truetype');
  font-weight: normal; 
}
body
{
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: none;
    font-family: 'SFPro', sans-serif;
    overflow-x: hidden;
}
a, button {
    cursor: none; /* or 'auto' */
}
h5
{
  font-family: 'SFProBold';
}
.main-wrapper
{
    bottom: 0;
    left: 0;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1title  {
  width: 100%;
  height: 100%;
  margin-top: 7%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  font-weight: bold;
}
.gradient-text
{
  background-image: linear-gradient(to top, #7b69a5, #ffffff); 
  -webkit-background-clip: text;
  background-clip: text; 
  color: transparent; 
  display: flex; flex-direction: column; width: 60%; align-items: center;
}
.h1title h5
{
  font-size: 1.5rem;
  width: 70%;
  height: 100%;
  margin-top: 0;
}


@media screen and (max-width: 1100px) {
    .main-wrapper {
        flex-direction: column;
        height: 100vh;
        width: 90%;
        margin-top: 25%;
        margin-bottom: 10%;
    } 
    #circle {
        display: none;
    }
    #card-display
    {
        display: flex;
        flex-direction: column;
    }
    .nav-bar 
    {
      width: 95%;
    }
    .main-wrapper{
      height: 100vh;
      margin-top: 50%;
    }

}  

.nav-bar{
  position: fixed;
  top: 0;
  background-color: #25252573;
  backdrop-filter: blur(25px); 
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  width: 75%;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 999;
  border: 2px solid #ffffff04;
}
.logo
{
    width: 3%;
}

.nav-bar-buttons{
  padding-right: 20px; 
  padding-top: 5px;
    display: flex;
    width: 50%;
    justify-content: right;
}

.nav-bar-buttons a{
  display: flex;
  transition: transform 0.3s ease-in-out;
  margin-left: 20px;
}
.nav-bar-buttons img{
  height: 20px;
}
.nav-bar-buttons a:hover{
  transform: translate(0%,-30%);
}
#circle {
    width: 25px;
    height: 25px;
    background-color: rgb(109, 109, 109);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: transform 0.2s ease-in-out;

    z-index: 9900;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:2.5px;
  }

  .page-body
  {
    display: flex;
    justify-items: center;
    flex-direction: column;
  }
  #gradient
  {
    width:50%;
    height: 50%;
    background-color: rgba(184, 247, 255, 0.164);
    opacity: 15%;
    position: fixed;

    top: 25%;

    filter: blur(200px);

    transition: filter .2s ease-out;
  }

@keyframes reappear {
    from {
      top: 0px;
    }
    to {
      top: -50px;
    }
  }
  
  .black-screen
  {
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100vw;
    transform: translate(0,-40%);
    opacity: 0%;
    transition: opacity 0.3s ease-out;
  }

  body #card-display {
    display: flex;
    position: relative;
    z-index: 2;
  }
  body #card-display.transition {
    transition: transform 500ms;
  }
  body #card-display .card-wrapper {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    outline: none;
    position: relative;
    transition: transform 250ms;
    transform: scale(0.9);
  }

  .aclaration
  {
    font-family: 'SFProBold';
    position: fixed; bottom: 2%; background-color: rgba(0, 0, 0, 0.185); width: 90%; padding: 10px; border-radius: 10px;   backdrop-filter: blur(10px); color: white; 
  }
  .aclaration-fps-engine
  {
    display: none;
  }
  .aclaration-2d
  {
    display: none;
  }
  .aclaration-bullet
  {
    display: none;
  }
  body #card-display .card-wrapper:hover {
    transform: scale(1);
  }
  .card-content img {
    transition: transform 1s ease-out;
  }
  body #card-display .card-wrapper:hover .card-content img {
    transform: scale(1.1);
  }  

  body #card-display .card-wrapper:hover   .black-screen {
    opacity: 50%;
  }  
  .card-wrapper-fps-engine:hover .aclaration-fps-engine {
    display: block;
  }  
  .card-wrapper-2d:hover .aclaration-2d {
    display: block;
  }  
  .card-wrapper-bullet:hover .aclaration-bullet {
    display: block;
  }  
  body #card-display .card-wrapper .card {
    background-color: #141414;
    border-radius: inherit;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
    height: 500px;
    position: relative;
    width: 500px;
    z-index: 2;

    overflow: hidden;

    display: flex;
    justify-content: center;
 
  }
  #fps-engine 
  {
    background-image: url("img/fps-engine.png");
    background-size: 220%;
    background-position: bottom;
  }
  body #card-display .card-wrapper:hover #fps-engine {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .card .card-content
  {

    display: flex;
    justify-content: center;
    padding-top: 45%;

    width: 50%;
    height: 10%;
  }

  #bullet-hell-engine 
  {
    background-image: url("img/BulletHellEngine.png");
    background-size: 220%;
    background-position: center;
  }
  #d-platformer-engine
  {
    background-image: url("img/2d-engine.png");
    background-size: 200%;
    background-position: center;
  }

  .reviews-container {
    display: flex;
    height: 300px;
    max-height: 400px;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
    margin-right: 10%;
    width: 55%;
    height: 100%;
    background-color: #141414;
    overflow-y: auto; /* Add this line to enable vertical scrolling */
  }
  

  @media (max-width: 900px) {
    body #card-display .card-wrapper:hover {
        transform: scale(.85);
    }

  }
  @media (max-width: 900px) {
    body #card-display .card-wrapper .card {
      height: 400px;
      width: 400px;
    }
    .logo
    {
        width: 17%;
    }
    .h1title  {
      font-size: 1.5rem;
      margin-top: 20%;
    }
    .gradient-text
    {
    width: 90%;
    }
    .h1title h5
  {
    font-size: 1rem;
  }
  .card-wrapper
  {
    margin: 0;
  }
  }

  .store-promo
  {
    background-image: url("img/blurred-fps-engine.png");
    width: 73%;
    height: 40vh;
    background-color: rgb(210, 244, 255);
    background-size: cover;
    border-radius: 30px;

    padding: 2rem;
    padding-left: 4.5rem;

    display: flex;
  }
  
  .store-promo h2
  {
    font-family: 'SFProBold';
    width: 50%;
    font-size: 2.2rem;
    color: rgb(238, 238, 238);
    
  }

  .store-promo h5
  {
    width: 30%;
    font-size: 1rem;
    color: rgb(238, 238, 238);
    font-family: 'SFProBold';
    
  }

  .asset-store {
    width: 40%;
    height: 100%;
    background-color: red;
    margin-right: 10%;
  }

  .footer
  {
    margin-top: 80px;
    width: 100vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.377);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  @media (max-width: 1700px) {
    @keyframes reappear {
      from {
        top: 0px;
      }
      to {
        top: -35px;
      }
    }

  }